{% extends 'client_header.html' %}
{% load static %}
{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>My Account</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>My Account</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Profile Authentication Area -->
<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="login-form">
                    <h2>Create Your New Password</h2>
                    <form action="/client/client_reset/" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>OTP</label>
                            <input type="text" class="form-control" placeholder="OTP" name="OTP">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Enter Your Password"
                                   name="pass">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Re-enter Your Password" name="rpass">
                            {% for data in messages %}
                            <span style="color:red">{{data}}</span>
                            {% endfor %}
                        </div>

                        <button type="submit">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}