<!--{% load static %}-->
<!--{% for category in cat %}-->
<!--       <li value="{{category.category_id}}"><a href="/client/client_shop/">{{category.category_name}}</a>-->
<!--&lt;!&ndash;              <ul class="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                    {% for x in sub %}&ndash;&gt;-->
<!--&lt;!&ndash;                            {% if category.category_id == x.category_id_id %}&ndash;&gt;-->
<!--&lt;!&ndash;                              <li value="{{x.subcategory_id}}"><a href="{{x.subcategory_name}}"></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;                     {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;              </ul>&ndash;&gt;-->
<!--       </li>-->
<!--{% endfor %}-->